.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(123, 223, 77, 0.937);
  margin: 1em;
  user-select: none;
 }
 
 .activeCard{
  color: red;
  background: blue;
 }